* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(253, 246, 228);
}
.part {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  width: 20rem;
  height: 40px;
  border: none;
  margin: 0px 20px;
  outline: none;
  padding-left: 10px;
  border-radius: 5px;
  text-transform: capitalize;
}
button {
  outline: none;
  border: none;
}
.itempart {
  text-align: left;
}
.part2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
i {
  color: tomato;
  font-size: 30px;
}
ul {
  list-style-type: none;
  width: 300px;
  height: 300px;
  margin-top: 10px;
}
.ulscroll {
  overflow: scroll;
}
li {
  text-align: left;
  text-transform: capitalize;
}
.List {
  width: 20px;
  margin-left: 10px;
}
